.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(auto-fill, minmax(5rem, 1fr));
    grid-template-areas:
        "title title title"
        ". . trending-container"
        "in-theaters-container in-theaters-container ."
        ". . .";
}

.trending-container {
    grid-area: trending-container;
    display: grid;
    grid-template-rows: 5rem;
    grid-template-areas:
        "trending-title"
        "trending-content";
}

.trending-container h1 {
    grid-area: trending-title;
    display: flex;
    justify-content: center;
    flex: 1;
}

.trending-content {
    grid-area: trending-content;
    display: flex;
    justify-content: center;
}

.trending-content li {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.trending-labels {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
}

.title {
    grid-area: title;
    display: flex;
    justify-content: center;
}

.in-theaters-container {
    grid-area: in-theaters-container;
    display: grid;
    grid-template-rows: auto;
}

.in-theaters-container h1 {
    display: flex;
    justify-content: center;
}

.poster-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-row-gap: 1rem;
}

