.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 5rem 1fr 1fr 1fr;
    grid-template-areas:
        ". title ."
        ". . trending-container"
        ". . ."
        ". . .";
}

.trending-container {
    grid-area: trending-container;
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: 1fr;
    grid-template-rows: 5%;
    grid-template-areas:
        "trending-title"
        "trending-content";
}

.trending-container h1 {
    grid-area: trending-title;
    display: flex;
    justify-content: center;
}

.trending-content {
    grid-area: trending-content;
    display: flex;
    justify-content: center;
}

.trending-content li {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.trending-labels {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
}

.title {
    grid-area: title;
    display: flex;
    justify-content: center;
}
