@import "definitions";

html {
  background-color: rgb(22, 22, 29);
  font-family: 'Manrope', sans-serif;
}

body {
  font-size: $base-font-size;

  @media #{$mq-tablet} {
    font-size: $base-font-size;
  }

  @media #{$mq-720p} {
    font-size: $base-font-size*1.2;
  }

  @media #{$mq-1080p} {
    font-size: $base-font-size*1.3;
  }

  @media #{$mq-2k} {
    font-size: $base-font-size*1.4;
  }
}

h1, a {
  color: azure;
}

svg {
  fill: azure;
}

a:link {
  text-decoration: none;
}
