.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(auto-fit, minmax(5rem, 1fr));
    grid-template-areas:
      "title title title title"
      "upcoming-container movie-container tv-container trending-container"
      ". playing-container playing-container .";
}

@media only screen and (max-width: 1200px) {
    .container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(auto-fit, minmax(5rem, 1fr));
        grid-template-areas:
          "title title title"
          "movie-container tv-container trending-container"
          "playing-container  playing-container upcoming-container";
    }
}

@media only screen and (max-width: 800px) {
    .container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(auto-fit, minmax(5rem, 1fr));
        grid-template-areas:
          "title title"
          "movie-container tv-container"
          "upcoming-container trending-container"
          "playing-container  playing-container";
    }
}

@media only screen and (max-width: 525px) {
    .container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(auto-fit, minmax(5rem, 1fr));
        grid-template-areas:
          "title"
          "movie-container"
          "tv-container"
          "upcoming-container"
          "trending-container"
          "playing-container";
    }
}
