.container {
    grid-area: playing-container;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.title {
    display: flex;
    justify-content: center;
}

.posters {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(3, 200px);
}

@media only screen and (max-width: 1000px) {
    .posters {
        grid-template-columns: repeat(2, 200px);
    }
}

@media only screen and (max-width: 450px) {
    .posters {
        grid-template-columns: repeat(1, 200px);
    }
}
