.container {
    grid-area: playing-container;
    display: grid;
    grid-template-rows: 5rem;
}

.title {
    display: flex;
    justify-content: center;
}

.posters {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-row-gap: 1rem;
}
