.container {
    grid-area: tv-container;
    display: grid;
    grid-template-rows: 5rem;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    display: flex;
    justify-content: center;
}

.card {
    display: flex;
    width: 225px;
    height: 100px;
    margin-bottom: 1rem;
    align-items: center;
    justify-content: center;
    border: 1px solid azure;
    border-radius: 16px;
    background-color: azure;
    color: rgb(22, 22, 29);
    box-shadow: 0 2px 4px 0 azure;
    transition: height 0.3s, box-shadow 0.3s;
}

.card:hover {
    box-shadow: 5px 5px 10px 0 azure;
}
